*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url("https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
:root {
  scroll-behavior: smooth;
}